<form class="form" [formGroup]="PerfilCont" (ngSubmit)="Cambiar_Contra()">

  <div class="form-group pr-5 pl-5">

    <p *ngIf='Idioma == "SP"'>Entra tu contraseña actual</p>
    <p *ngIf='Idioma == "EN"'>Enter your current password</p>

    <div class="input-group">

      <input class="form-control" type="password" id="cont_act" formControlName="cont"
        [ngClass]="{'is-invalid': perfdata.cont.touched && perfdata.cont.errors}" showHideInput>

      <div class="input-group-append ngx-show-hide-password">

        <button class="btn btn-outline-dark" type="button" showHideTrigger="cont_act">
          <i class="fa" [showHideStatus]="{show: 'fa-eye', hide: 'fa-eye-slash', id: 'cont_act'}"></i>
        </button>

      </div>

      <div *ngIf="perfdata.cont.touched && perfdata.cont.errors" class="invalid-feedback">
        <div *ngIf='perfdata.cont.errors.required && Idioma == "SP"'>El campo esta vacio !!</div>
        <div *ngIf='perfdata.cont.errors.required && Idioma == "EN"'>The field is empty !!</div>
      </div>

    </div>
  </div>

  <div class="form-group pr-5 pl-5">

    <p *ngIf='Idioma == "SP"'>Entra tu Nueva contraseña</p>
    <p *ngIf='Idioma == "EN"'>Enter your New password</p>

    <div class="input-group">

      <input class="form-control" type="password" id="cont_new" formControlName="new_cont"
        [ngClass]="{'is-invalid': perfdata.new_cont.touched && perfdata.new_cont.errors}" showHideInput>

      <div class="input-group-append ngx-show-hide-password">

        <button class="btn btn-outline-dark" type="button" showHideTrigger="cont_new">
          <i class="fa" [showHideStatus]="{show: 'fa-eye', hide: 'fa-eye-slash', id: 'cont_new'}"></i>
        </button>

      </div>

      <div *ngIf="perfdata.new_cont.touched && perfdata.new_cont.errors" class="invalid-feedback">
        <div *ngIf='perfdata.new_cont.errors.required && Idioma == "SP"'>El campo esta vacio !!</div>
        <div *ngIf='perfdata.new_cont.errors.required && Idioma == "EN"'>The field is empty !!</div>
      </div>

    </div>

  </div>

  <div class="form-group pr-5 pl-5">

    <p *ngIf='Idioma == "SP"'>Repite tu nueva contraseña</p>
    <p *ngIf='Idioma == "EN"'>Repeat your new password</p>

    <div class="input-group">

      <input class="form-control" type="password" id="rep_new_cont" formControlName="rep_cont"
        [ngClass]="{'is-invalid': perfdata.rep_cont.touched && perfdata.rep_cont.errors}" showHideInput>

      <div class="input-group-append ngx-show-hide-password">

        <button class="btn btn-outline-dark" type="button" showHideTrigger="rep_new_cont">
          <i class="fa" [showHideStatus]="{show: 'fa-eye', hide: 'fa-eye-slash', id: 'rep_new_cont'}"></i>
        </button>

      </div>

      <div *ngIf="perfdata.rep_cont.touched && perfdata.rep_cont.errors" class="invalid-feedback">
        <div *ngIf='perfdata.rep_cont.errors.required && Idioma == "SP"'>El campo esta vacio !!</div>
        <div *ngIf='perfdata.rep_cont.errors.required && Idioma == "EN"'>The field is empty !!</div>
        <div *ngIf='perfdata.rep_cont.errors.Comprobacion && Idioma == "SP"'>La contraseña no coincide</div>
        <div *ngIf='perfdata.rep_cont.errors.Comprobacion && Idioma == "EN"'>Password does not match</div>
      </div>

    </div>

  </div>

  <button class="btn btn-dark ml-5 mt-2 mb-3" type="submit" [disabled]="PerfilCont.invalid">
    <div *ngIf='Idioma == "SP"'>Cambiar Contraseña</div>
    <div *ngIf='Idioma == "EN"'>Change Password</div>
  </button>
  <button class="btn btn-dark ml-5 mt-2 mb-3" type="button" (click)="UpdateCont()">
    <div *ngIf='Idioma == "SP"'>Cancelar</div>
    <div *ngIf='Idioma == "EN"'>Cancel</div>
  </button>

</form>
