<app-header></app-header>
<div class="container-fluid sep">

  <div class="row ml-3">
    <div class="col-4 rounded marco_oscuro sticky-top">

      <div class="mt-3">
        <p>Nombre Comunidad</p>

        <p>Mensaje Comunidad Mensaje Comunidad Mensaje Comunidad Mensaje Comunidad Mensaje Comunidad Mensaje Comunidad
        </p>

        <p>Miembros Comunidad ( 200 )</p>

        <div class="row mt-3 mb-3">
          <!-- <div *ngIf=""> Condicion solo usuarios normales -->

          <!-- <div class="col pt-3">
            <button class="btn btn-light" type="button">Ver Miembros</button>
            <button class="btn btn-light mt-3" type="button">Crear Post</button>
            <button class="btn btn-light mt-3" type="button">Dejar Comunidad</button>
          </div>
          <div class="col pt-3">
          </div> -->

          <!-- <div *ngIf=""></div>  Condicion solo para creador y moderador -->
          <div class="col pt-3">
            <button class="btn btn-light" type="button">Gestionar Miembros</button>
            <button class="btn btn-light mt-4" type="button">Crear Post</button>
          </div>
          <div class="col pt-3">
            <button class="btn btn-light" type="button">Modificar Comunidad</button>
            <!-- <div *ngIf=""></div>  Condicion solo para creador -->
            <button class="btn btn-light mt-4" type="button">Eliminar Comunidad</button>
          </div>
        </div>
      </div>

    </div>

    <div class="col-8 mt-n3">
      <app-post></app-post>
    </div>

  </div>

</div>
