.sep { margin-top: 90px; }

.marco_oscuro{
  background-color: #1d1f1e;
  color:white;
  height:100%;
  top:10%;
}

.border_v {
  border: 2px solid #00ff84;
  text-decoration: none;
  text-decoration-color: white;
  color: white;
  border-radius: 5px;
}

ul{
  border: 1px solid black;
  max-width: 80%;
}

button.sep{
  margin-left: 15%;
}

button.sep2{
  margin-left: 5%;
}
