<app-header></app-header>
<div class="container-fluid">

  <div class="marco pb-2 mb-3 mr-4 ml-4">

    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-dark" (click)='Cambiar_Opcion("Perfil")'>
        <div *ngIf='Idioma == "SP"'>Información</div>
        <div *ngIf='Idioma == "EN"'>Info</div>
      </button>
      <button type="button" class="btn btn-dark" (click)='Cambiar_Opcion("Post")'>Posts</button>

      <button type="button" class="btn btn-dark" (click)='Cambiar_Opcion("Comentarios")'>
        <div *ngIf='Idioma == "SP"'>Comentarios</div>
        <div *ngIf='Idioma == "EN"'>Comments</div>
      </button>
    </div>

    <div *ngIf='ModoCambio == "Perfil"'>

      <div class="row mb-3">

        <div class="col-5 col-sm-5 col-md-5 col-lg-5">
          <div class="sep_left">
            <p *ngIf='Idioma == "SP"' class="sep_text"><strong>Nombre:</strong> {{usuario.nombre}} </p>
            <p *ngIf='Idioma == "EN"' class="sep_text"><strong>First Name:</strong> {{usuario.nombre}} </p>

            <p *ngIf='Idioma == "SP"' class="sep_text"><strong>Apellido:</strong> {{usuario.apellido}} </p>
            <p *ngIf='Idioma == "EN"' class="sep_text"><strong>Last Name:</strong> {{usuario.apellido}} </p>

            <p *ngIf='Idioma == "SP"' class="sep_text"><strong>Correo:</strong> {{usuario.email}}</p>
            <p *ngIf='Idioma == "EN"' class="sep_text"><strong>Email:</strong> {{usuario.email}}</p>

            <p *ngIf='Idioma == "SP"' class="sep_text"><strong>Fecha de nacimiento:</strong>
              {{usuario.fecha_nacimiento}} </p>
            <p *ngIf='Idioma == "EN"' class="sep_text"><strong>Birthday:</strong> {{usuario.fecha_nacimiento}} </p>

          </div>
        </div>

        <div class="col-2 col-sm-2 col-md-2 col-lg-2">
        </div>

        <div class="col-5 col-sm-5 col-md-5 col-lg-5">

          <div class="float-right sep_right">

            <div class="img_perfil mb-3" class="rounded mb-3">
              <img  src="./../../../assets/ImagenesPerfil/{{ usuario.Imagen }}" class="rounded mb-3" width="280">
            </div>

            <div class="btn-group mt-4">
              <button class="btn btn-dark">

                <input *ngIf='Idioma == "SP"' type="file" name="file" multiple (change)="detectFiles($event)">
                <input *ngIf='Idioma == "EN"' type="file" name="file" multiple (change)="detectFiles($event)">

              </button>
            </div>

          </div>

        </div>

      </div>

      <div class="row mb-3">
        <div class="col perf">
          <button type="button" class="btn btn-dark" (click)='Cambiar_Opcion("Editar")'>
            <div *ngIf='Idioma == "SP"'>Editar perfil</div>
            <div *ngIf='Idioma == "EN"'>Edit profile</div>
          </button>
          <button type="button" class="btn btn-dark ml-4" (click)='Cambiar_Opcion("Contra")'>
            <div *ngIf='Idioma == "SP"'>Cambiar Contraseña</div>
            <div *ngIf='Idioma == "EN"'>Change Password</div>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf='ModoCambio == "Editar"'>
      <app-perfil-editar></app-perfil-editar>
    </div>

    <div *ngIf='ModoCambio == "Contra"'>
      <app-perfil-contra></app-perfil-contra>
    </div>

    <div *ngIf='ModoCambio == "Post"'>
      <app-perfil-posts></app-perfil-posts>
    </div>

    <div *ngIf='ModoCambio == "Comentarios"'>
      <app-perfil-comunidades></app-perfil-comunidades>
    </div>

  </div>

</div>
