<app-header></app-header>
<div class="container-fluid">

  <div class="marco pb-2 mb-3 mr-4 ml-4">

    <div class="btn-group btn-group-lg">
      <button type="button" class="btn">Ajustes</button>
      <button type="button" class="btn">Posts</button>
      <button type="button" class="btn">Comentarios</button>
    </div>

    <div class="row mb-3">

      <div class="col-5 col-sm-5 col-md-5 col-lg-5">
        <div class="sep_left">
          <p class="sep_text"><strong>Nombre:</strong> </p>
          <p class="sep_text"><strong>Apellido:</strong> </p>
          <p class="sep_text"><strong>Correo:</strong> </p>
          <p class="sep_text"><strong>Contraseña:</strong> </p>
          <p class="sep_text"><strong>Fecha de nacimiento:</strong> </p>
        </div>
      </div>

      <div class="col-2 col-sm-2 col-md-2 col-lg-2">
      </div>

      <div class="col-5 col-sm-5 col-md-5 col-lg-5">

        <div class="float-right sep_right">

          <div class="img_perfil mb-3" style="background-image: url(assets/images/full_logo.png)"></div>

          <div class="btn-group mt-4">
            <button class="btn btn-dark">Editar</button>
            <button class="btn btn-dark float-right">Eliminar</button>
          </div>

        </div>

      </div>

    </div>

    <div class="row mb-3">
      <div class="col perf">
        <button class="btn btn-dark">Editar</button>
        <button class="btn btn-dark ml-5">Guardar Cambios</button>
      </div>
    </div>

  </div>


</div>
