<nav class="navbar navbar-expand-md navbar-custom fixed-top">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">

    <a class="navbar-brand">
      <img class="logo" src="assets/images/full_logo.png" alt="logo">
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/PaginaInicio']">
          <div *ngIf='idioma == "SP"'>Inicio</div>
          <div *ngIf='idioma == "EN"'>Home</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Comunidades']">
          <div *ngIf='idioma == "SP"'>Comunidades</div>
          <div *ngIf='idioma == "EN"'>Communities</div>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
          <div class="d-inline" *ngIf='idioma == "SP"'>Idioma</div>
          <div class="d-inline" *ngIf='idioma == "EN"'>Language</div>
        </a>
        <div class="dropdown-menu menu">
          <a class="dropdown-item boton_menu" (click)='cambio_idioma("SP")'>
            <div class="d-inline" *ngIf='idioma == "SP"'>Español</div>
            <div class="d-inline" *ngIf='idioma == "EN"'>Spanish</div>
            <img class="d-inline" class="ml-3 flags" src="assets\images\SPN.png">
          </a>
          <a class="dropdown-item boton_menu" (click)='cambio_idioma("EN")' >
            <div class="d-inline" *ngIf='idioma == "SP"'>Ingles</div>
            <div class="d-inline" *ngIf='idioma == "EN"'>English</div>
            <img class="ml-3 flags" src="assets\images\USA.png">
          </a>
        </div>
      </li>
    </ul>
  </div>

  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon">
        <i class="fa fa-bars mt-1"></i>
      </span>
    </button>
  </div>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
          <img class="perfil rounded-circle" src="assets/images/full_logo.png"></a>
        <div class="dropdown-menu dropdown-menu-right menu">
          <h3 class="dropdown-header">{{User}}</h3>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item boton_menu" [routerLink]="['/Perfil']">
            <div *ngIf='idioma == "SP"'>Perfil</div>
            <div *ngIf='idioma == "EN"'>Profile</div>
          </a>
          <a class="dropdown-item boton_menu" [routerLink]="['/Login']">
            <div *ngIf='idioma == "SP"'>Salir</div>
            <div *ngIf='idioma == "EN"'>Log out</div>
          </a>
        </div>
      </li>
    </ul>
  </div>

</nav>
