<div class="container-fluid fondo">

  <div class="row">
    <!-- Columna izquierda -->
    <div class="colizq d-none d-sm-block col-md-6 col-lg-6">
      <!-- Logo -->
      <img class="logo mt-5 mb-5" src="assets/images/full_logo.png" alt="logo">
      <div class="col">
        <div class="row">
          <p *ngIf='Idioma == "SP"' class="lema l1 mt-5">CONECTA</p>
          <p *ngIf='Idioma == "EN"' class="lema l1 mt-5">CONNECT</p>
        </div>
        <div class="row">
          <p *ngIf='Idioma == "SP"' class="lema l2 mt-5 mb-5">CREA</p>
          <p *ngIf='Idioma == "EN"' class="lema l2 mt-5 mb-5">CREATE</p>
        </div>
        <div class="row">
          <p *ngIf='Idioma == "SP"' class="lema l3">COMPARTE</p>
          <p *ngIf='Idioma == "EN"' class="lema l3">SHARE</p>
        </div>
      </div>
    </div>

    <!-- Columna Derecha -->
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">

      <div class="dropdown dropleft float-right mt-4">
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
          <div class="d-inline" *ngIf='Idioma == "SP"'>Idioma</div>
          <div class="d-inline" *ngIf='Idioma == "EN"'>Language</div>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)='cambio_idioma("SP")'>
            <div class="d-inline" *ngIf='Idioma == "SP"'>Español</div>
            <div class="d-inline" *ngIf='Idioma == "EN"'>Spanish</div>
            <img class="d-inline" class="ml-3 flags" src="assets\images\SPN.png">
          </a>
          <a class="dropdown-item" (click)='cambio_idioma("EN")'>
            <div class="d-inline" *ngIf='Idioma == "SP"'>Ingles</div>
            <div class="d-inline" *ngIf='Idioma == "EN"'>English</div>
            <img class="ml-3 flags" src="assets\images\USA.png">
          </a>
        </div>
      </div>

      <form [formGroup]="Usuario" class="mr-3 p-3 rounded" (ngSubmit)="LoginUsuario()">

        <div class="form-group">

          <label>Nick</label>
          <input type="text" formControlName="nick" class="form-control"
            [ngClass]="{'is-invalid': Data.nick.touched && Data.nick.errors}">

          <div *ngIf="Data.nick.touched && Data.nick.errors" class="invalid-feedback">
            <div *ngIf='Data.nick.errors.required && Idioma == "SP"'>El campo Nick esta vacio!!</div>
            <div *ngIf='Data.nick.errors.required && Idioma == "EN"'>Nick field is empty !!</div>
          </div>
        </div>

        <div class="form-group">
          <label *ngIf='Idioma == "SP"'>Contraseña</label>
          <label *ngIf='Idioma == "EN"'>Password</label>

          <div class="input-group">

            <input type="password" formControlName="password" id="contra"
              class="form-control" [ngClass]="{'is-invalid':Data.password.touched && Data.password.errors}"
              showHideInput>

            <div class="input-group-append ngx-show-hide-password">
              <button class="btn btn-outline-dark" type="button" showHideTrigger="contra">
                <i class="fa" [showHideStatus]="{show: 'fa-eye', hide: 'fa-eye-slash', id: 'contra'}"></i>
              </button>
            </div>

            <div *ngIf="Data.password.touched && Data.password.errors" class="invalid-feedback">
              <div *ngIf='Data.password.errors.required && Idioma == "SP"'>El campo Contraseña esta vacio!!</div>
              <div *ngIf='Data.password.errors.required && Idioma == "EN"'>The Password field is empty !!</div>
            </div>

          </div>

          <div class="mt-3 mb-4">
            <p *ngIf='Idioma == "SP"' class="d-inline"><a [routerLink]="['/Registro']">Registrate</a></p>
            <p *ngIf='Idioma == "EN"' class="d-inline"><a [routerLink]="['/Registro']">Sign up</a></p>

            <!-- <p *ngIf='Idioma == "SP"' class="ml-5 d-inline"><a [routerLink]="['/Feed']">Entrar como invitado</a></p>
            <p *ngIf='Idioma == "EN"' class="ml-5 d-inline"><a [routerLink]="['/Feed']">Login as guest</a></p> -->
          </div>

        </div>

        <button type="submit" [disabled]="Usuario.invalid" class="btn btn-dark mr-4">
          <div *ngIf='Idioma == "SP"'>Iniciar Sesión</div>
          <div *ngIf='Idioma == "EN"'>Log In</div>
        </button>

      </form>

    </div>

  </div>

</div>
