<div class="container-fluid" id="fondo">
  <img class="logo" src="assets/images/full_logo.png" alt="logo">

  <div id="lema">
    <p class="pgris pt-5">MUCHO</p>
    <p id="pblanca">TEXTO</p>
    <p class="pgris ml-xl-5">PATATA</p>
  </div>

  <div class="container-fluid rounded" id="cdatos">
    <p class="h3">Iniciar sesión</p>

    <p>Nick</p>
    <input type="text" placeholder="nick">

    <p>Contraseña</p>
    <input type="password" placeholder="pass">

    <button type="submit">Entrar</button>

    <a href="">Registrate!</a>
  </div>
</div>
