<div></div>
<!-- falta el bucle para mostrar los posts, necesito
           estructura del objeto a usar, con condicion para cada caso -->
<!------------------------------------------------------------------------------>
<div class="card marco_claro mt-4 mb-n2" *ngFor="let post of Posts;">
  <div class="card-header" >
    <p class="card-text float-right">{{post.NomPerfil}}</p>

    <p class="card-text">{{post.NombreComunidad}}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{post.TituloPost}}</h5>

    <p class="card-text">{{post.informacion}}</p>

    <p class="card-text float-right">{{post.fecha_subida}}</p>

  </div>
  <div class="card-footer mt-2">
    <button class="btn btn-dark" type="button">Reportar</button>
  </div>
  <hr>
  <div class="mt-2">

    <!-- Caja para comentar -->
    <div class="pr-5 pl-5 mb-3">
      <p>Comenta algo ...</p>
      <div class="input-group " [formGroup] = "comentario">
        <input type="text" class="form-control" formControlName="comentario">
        <div class="input-group-append" >
          <button class="btn btn-dark" type="button" (click)="Comentar(post.TituloPost)">Comentar</button>
        </div>
      </div>
    </div>

  </div>



<div class="card-body marco_2 mb-2" >
  <div class="pr-4 pl-3 pre-scrollable" *ngFor="let comentarios of comentariosPost;">
    <div class="marco_3 mt-2 p-2">
      <p class="mt-2">
        {{comentarios.NombrePerfil}}
        : {{comentarios.mensaje}}</p>
      <button class="btn btn-light mt-1"> Reportar</button>
    </div>
  </div>
</div>
</div>

<!-- 2nd Post para ver como se vera -->

<!-- <div class="card marco_claro mt-4 mb-n2">
  <div class="card-header">
    <p class="card-text float-right">Marc Valdivia</p>

    <p class="card-text">Comunidad blah</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Titulo Post</h5>

    <p class="card-text">Texto del Post.</p>

    <p class="card-text float-right">10/10/2020</p>

  </div>
  <div class="card-footer mt-2">
    <button class="btn btn-dark" type="button">Reportar</button>
  </div>
  <hr>
  <div class="mt-2">


    <div class="pr-5 pl-5 mb-3">
      <p>Comenta algo ...</p>
      <div class="input-group ">
        <input type="text" class="form-control">
        <div class="input-group-append">
          <button class="btn btn-dark" type="button">Comentar</button>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="card-body marco_2 mb-2">

  <div class="pr-4 pl-3 pre-scrollable">

    <div class="marco_3 mt-2 p-2">
      <p class="mt-2">Nick : Comentario 1 Comentario 1 Comentario 1 Comentario 1 Comentario 1 Comentario 1
        Comentario 1 Comentario 1</p>
      <button class="btn btn-light mt-1"> Reportar</button>
    </div>

  </div>

</div> -->
